.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    opacity: 0.4;
    background: #000;
    mix-blend-mode: multiply;
    backdrop-filter: blur(10px); /* Aplicar desenfoque */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.sections {
    display: flex;
    gap: 100px;
}

.section {
    margin-right: 1rem;
    cursor: pointer;
}