.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin-bottom: 20px;
  margin-top: 100px;
  width: 60%;
  text-align: center;
  display: flex;
}

.imageContainer {
  margin-right: 10px;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  
}



.mapIframe {
  width: 450px;
  height: 200px;
}

/* .imgSucursal {
  width: 450px !important;
  
} */

.info {
  margin-bottom: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  color: #512200;
}
